<div class="pip-main-menu iqs-shift-panel" ng-class="{'pip-single-content': $ctrl.details || ($ctrl.edit == 'add' && !$ctrl.pipMedia('gt-sm'))}">
	<div class="pip-menu layout-column iqs-menu ">

		<md-button iqs-test-add class="md-fab md-accent md-fab-bottom-right" ng-if="$ctrl.state() == 'data' && !$ctrl.isPreLoading" ng-disabled="$ctrl.transaction.busy() || !$ctrl.accessConfig.addShift"
		           aria-label="add" ng-click="$ctrl.addClick()">

			<md-icon md-svg-icon="icons:plus"></md-icon>
		</md-button>

		<div ng-show="$ctrl.error" class="pip-page-errors">
			<span class="pip-error-text color-error flex"> {{$ctrl.error}}</span>
			<md-icon md-svg-icon="icons:warn-circle" class="color-error"></md-icon>
		</div>

		<div class="flex" style="position: relative" ng-if="($ctrl.state() == 'data' || $ctrl.edit == 'add') && !$ctrl.isPreLoading">
			<md-list class="pip-ref-list tp0 w-stretch h-stretch" style="position: absolute; overflow-y: auto" pip-selected="$ctrl.selectedIndex()"
			         pip-select="$ctrl.selectItem($event.index)" pip-selected-watch="$ctrl.selectedIndex()">

				<md-list-item class="pip-ref-list-item pip-selectable selected pointer iqs-empty-item" ng-if="$ctrl.edit == 'add'"
				              md-ink-ripple>

					<div class="pip-content">
						<p class="text-body2 text-overflow flex">
							{{:: "NEW SHIFT" | translate}}
						</p>
					</div>
				</md-list-item>

				<md-list-item class="pip-ref-list-item iqs-group-item {{ $ctrl.edit != 'add' && $ctrl.edit != 'edit' && $ctrl.pipMedia('gt-sm') ? 'pip-selectable' : $ctrl.edit !='add' && $ctrl.selectedIndex() == $index && $ctrl.pipMedia('gt-sm') ? 'iqs-selected' : 'iqs-not-selectable' }}"
				              ng-class="{'selected': $ctrl.selectedIndex() == $index && $ctrl.edit != 'add',  'pointer':  $ctrl.edit != 'add' && $ctrl.edit != 'edit'} "
				              md-ink-ripple ng-repeat="section in $ctrl.collection  track by $index">

					<div class="pip-content" ng-click="$ctrl.selectItem($index)">
						<p class="text-body2 text-overflow flex">
							{{ section.name }}
						</p>
						<p class="pip-subtitle text-overflow flex rp24 rm8">
							{{section.startDate | formatShortTime}} - {{section.endDate | formatShortTime}}
						</p>
					</div>
				</md-list-item>
			</md-list>
		</div>
		<div class="pip-list-container iqs-menu-empty" ng-if="$ctrl.edit == 'data' && ($ctrl.state() == 'empty' || $ctrl.state() == 'progress' || $ctrl.isPreLoading) && $ctrl.pipMedia('gt-sm')">
		</div>
		<div class="pip-list-container layout-column" ng-include="'config/shifts/panels/ShiftsEmpty.html'" ng-if="($ctrl.state() == 'empty' || $ctrl.state() == 'progress' || $ctrl.isPreLoading) && !$ctrl.pipMedia('gt-sm')">
		</div>
	</div>
	<div class="pip-content-container" ng-include="'config/shifts/panels/ShiftsDetails.html'" ng-if="($ctrl.state() != 'empty' && $ctrl.state() != 'progress' || $ctrl.edit == 'add' || $ctrl.edit == 'edit') && !$ctrl.isPreLoading">
	</div>
	<div class="pip-content-container" ng-include="'config/shifts/panels/ShiftsEmpty.html'" ng-if="($ctrl.state() == 'empty' || $ctrl.state() == 'progress' || $ctrl.isPreLoading)">
	</div>
</div>